<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="日記・タスク管理・自己管理をひとつにまとめた「まさやの日常」。今日の気分や行動を記録し、振り返りで習慣化をサポート。Webブラウザで簡単に使える日記アプリです。">
<title>まさやの日常-日記一覧</title>
<link rel="stylesheet" th:href="@{/css/list.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
	<header th:replace="~{common/header :: header('日記一覧ページ')}"></header>
	<main>
		<div class="search-container">
			<h2 class="search-title">日記検索</h2>
            <form th:action="@{/diary/list}" method="get" class="search-form">
				<input type="month" id="searchMonth" name="searchMonth" th:value="${searchMonth}">
                <button type="submit">検索</button>
            </form>
		</div>
        <div class="diary-list-container">
			<h2 class="list-title">日記一覧</h2>
			<ul th:each="diary : ${diaryEntryList}" class = "diary-list">
			    <li>
					<p>
						<span th:text="${#temporals.format(diary.entryDate, 'yyyy年M月d日(E)')}"></span> |
						<span th:text="${diary.mood}"></span> |
						<span th:text="${diary.reflection}"></span>
					</p>

                 </li>
			</ul>
        </div>
	</main>
	<footer th:replace="~{common/footer :: footer}"></footer>

</body>
</html>